body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
a{
    text-decoration: none;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

#posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивная сетка */
    grid-gap: 20px;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
}

.post img {
    width: 100%;
    height: auto;
    display: block; /* Убирает лишние пробелы */
}

.post-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.post-title:hover {
    color: blue;
}


.article-page {
    padding: 20px;
    max-width: 960px; 
    margin: 0 auto; 
}

.article-title {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold; 
}

.article-body {
    font-size: 1em; 
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333; 
}
.article-page img {
  max-width: 700px;
  width: 100vw; /* or a percentage like 80vw for more margin */
  height: auto;
  display: block;
  margin: 1em 0;
}


@media (max-width: 768px) {
    .article-page {
        padding: 10px; 
    }
    .article-title {
        font-size: 1.5em;
    }
    .article-body {
        font-size: 0.9em; 
    }
}

@media (max-width: 480px) {
    .article-page {
        padding: 5px;
    }
    .article-title {
        font-size: 1.2em; 
    }
    .article-body {
        font-size: 0.8em; 
    }
}
