body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

#posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивная сетка */
    grid-gap: 20px;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
}

.post img {
    width: 100%;
    height: auto;
    display: block; /* Убирает лишние пробелы */
}

.post-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #0000;
}

/* Стили для страницы статьи */
.article-page {
    padding: 20px;
}

.article-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.article-body {
    margin-bottom: 20px;
}
